<div class="center songResult" data-id="{{id}}" data-uri="{{uri}}" data-artwork_url="{{artwork_url}}" data-title="{{title}}" data-user="{{user.username}}" >
    <div class="songResultImageSection clearfix">
        <img src="{{artwork_url}}" class="songResultImg">
    </div>
    <div class="songResultTextSection clearfix">
        <h5 class="songTitle">{{title}}</h5>
        <p class="songUserName">{{user.username}}</p>
    </div>
</div>