<div class="oldSong" data-id="{{id}}" data-uri="{{uri}}" data-artwork_url="{{artwork_url}}" data-title="{{title}}" data-user="{{user.username}}" >
    <img class="oldSongImage pull-left" src="{{artwork_url}}"/>
    <span class="oldSongTitle pull-left"><em>{{title}}</em></span>
    <span class="oldSongUser  pull-left hide">{{user}}</span>
</div>
